body {
    background: #ffcbcb;
  font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

a {
    color: #ffcbcb;
}

main {
    padding: 30px 0;
}

.weatherapp {
background: white;
color: #407088;
max-width: 600px;
margin: 30px auto;
box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
border-radius: 15px;
padding: 30px;
}

.search-form-input {
    background-color: #ffcbcb;
    border: none;
    border-radius: 6px;
    width: 80%;
    padding: 15px 30px;
    font-size: 16px;
    font-family: "Winky Rough", sans-serif;
}

.search-form-button {
    background: #132743;
    padding: 15px 25px;
    border: none;
    border-radius: 6px;
    color: white;
    margin: 2px;
    font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
}
.city-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.temp-container {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.weather-city {
    font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  margin: 0;
  line-height: 65px;
}

.weather-details {
    font-size: 14px;
    line-height: 20px;
}

.weather-details strong {
    color: #ec0d6e;
}
.weather-icon {
    width: 57px;
    height: 57px;
    margin-top: 10px;
}
.weather-temp {
    font-size: 50px;
    margin-left: 10px;
    line-height: 100px;
}

.weather-unit {
    font-size: 25px;
    margin-bottom: 80px;
}

footer {
    color: #132743;
    font-size: 13px;
    text-align: center;
}