body {
    background: #F2F2F2;
}

.weatherapp {
    background: white;
color: #36404A;
.delicious-handrawn-regular {
  font-family: "Delicious Handrawn", cursive;
  font-weight: 400;
  font-style: normal;
}
}