body {
    background: #F2F2F2;
}

.weatherapp {
    background: white;
color: #36404A;
.dancing-script-<uniquifier> {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
}